.mac-book-pro-162 .vector-9 {
  width: 17.5px;
  height: 17.5px;
}
.mac-book-pro-162 .link-svg {
  margin: 1.9px 11.3px 0.6px 0;
  display: flex;
  width: 17.5px;
  height: 17.5px;
  box-sizing: border-box;
}
.mac-book-pro-162 .contact-us-01677777777 {
  overflow-wrap: break-word;
  font-family: 'Nourd-Light', 'Roboto Condensed';
  font-weight: 300;
  font-size: 12px;
  line-height: 1.7;
  color: #484349;
}
.mac-book-pro-162 .container-5 {
  margin: 4px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.mac-book-pro-162 .vector-10 {
  width: 20.9px;
  height: 13.2px;
}
.mac-book-pro-162 .link-7 {
  margin: 4.6px 10.1px 2.2px 0;
  display: flex;
  width: 20.9px;
  height: 13.2px;
  box-sizing: border-box;
}
.mac-book-pro-162 .helloridekid-com {
  overflow-wrap: break-word;
  font-family: 'Nourd-Light', 'Roboto Condensed';
  font-weight: 300;
  font-size: 12px;
  line-height: 1.7;
  color: #484349;
}
.mac-book-pro-162 .container-7 {
  margin: 3px 0 5px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.mac-book-pro-162 .heading-2-turning-radius-is-aregistered-australian-company-mc-tek-pty-ltd-acn-633007655 {
  margin: 6px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Nourd-Medium', 'Roboto Condensed';
  font-weight: 500;
  font-size: 11px;
  line-height: 1.455;
  color: #484349;
}
.mac-book-pro-162 .vector-11 {
  width: 17.5px;
  height: 17.5px;
}
.mac-book-pro-162 .link-8 {
  border-radius: 14px;
  background: #F7F0F0;
  margin-right: 5px;
  display: flex;
  padding: 5.2px 5.2px 5.3px 5.2px;
  width: 28px;
  height: 28px;
  box-sizing: border-box;
}
.mac-book-pro-162 .vector-12 {
  width: 19.4px;
  height: 19.3px;
}
.mac-book-pro-162 .link-9 {
  border-radius: 14px;
  background: #F7F0F0;
  margin-right: 5px;
  display: flex;
  padding: 4.3px 4.3px 4.4px 4.3px;
  width: 28px;
  height: 28px;
  box-sizing: border-box;
}
.mac-book-pro-162 .vector-13 {
  width: 17.5px;
  height: 17.5px;
}
.mac-book-pro-162 .link-10 {
  border-radius: 14px;
  background: #F7F0F0;
  display: flex;
  padding: 4px 5.3px 6.5px 5.3px;
  width: 28px;
  height: 28px;
  box-sizing: border-box;
}
.mac-book-pro-162 .group-1 {
  border-radius: 14px;
  display: flex;
  flex-direction: row;
  width: 94px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-pro-162 .group-9 {
  background: #F7F0F0;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 9px 0 7px 0;
  width: 1728px;
  box-sizing: border-box;
}
.mac-book-pro-162 .ridekid-logo-green-and-white-012 {
  background: url('../assets/images/ridekid_logo_green_and_white_012.png') 50% / cover no-repeat;
  width: 192px;
  height: 86px;
}
.mac-book-pro-162 .item-link-home {
  margin-right: 10px;
  width: 68.8px;
  overflow-wrap: break-word;
  font-family: 'Nourd-Medium', 'Roboto Condensed';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.7;
  color: #FFFFFF;
}
.mac-book-pro-162 .item-link-about {
  overflow-wrap: break-word;
  font-family: 'Nourd-Medium', 'Roboto Condensed';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.7;
  color: #FFFFFF;
}
.mac-book-pro-162 .item-link-motorcycles {
  overflow-wrap: break-word;
  font-family: 'Nourd-Medium', 'Roboto Condensed';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.7;
  color: #FFFFFF;
}
.mac-book-pro-162 .item-link-faq-s {
  overflow-wrap: break-word;
  font-family: 'Nourd-Medium', 'Roboto Condensed';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.7;
  color: #FFFFFF;
}
.mac-book-pro-162 .item-link-blog {
  overflow-wrap: break-word;
  font-family: 'Nourd-Medium', 'Roboto Condensed';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.7;
  color: #FFFFFF;
}
.mac-book-pro-162 .item-link-contact {
  overflow-wrap: break-word;
  font-family: 'Nourd-Medium', 'Roboto Condensed';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.7;
  color: #FFFFFF;
}
.mac-book-pro-162 .container-8 {
  margin: 49.3px 0 16.7px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 498.7px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-pro-162 .register-here {
  overflow-wrap: break-word;
  font-family: 'Sora';
  font-weight: 700;
  font-size: 13px;
  line-height: 1;
  color: #F7F0F0;
}
.mac-book-pro-162 .link {
  border-radius: 10px;
  background: #2DB563;
  margin: 37px 0 6px 0;
  display: flex;
  padding: 15px 19.8px;
  width: 144px;
  box-sizing: border-box;
}
.mac-book-pro-162 .container-3 {
  background: #18A999;
  position: relative;
  margin-bottom: 73px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 0 40px 0;
  width: 1728px;
  box-sizing: border-box;
}
.mac-book-pro-162 .heading-2-our-blog {
  margin: 0 984.5px 20px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Nourd-Bold', 'Roboto Condensed';
  font-weight: 700;
  font-size: 37.1px;
  line-height: 1.347;
  color: #2DB563;
}
.mac-book-pro-162 .heading-2-read-our-take-on-some-important-topics-in-the-motorcycle-space {
  margin: 0 761.2px 143px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Nourd-SemiBold', 'Roboto Condensed';
  font-weight: 600;
  font-size: 15px;
  line-height: 1;
  color: #030D54;
}
.mac-book-pro-162 .joys-and-sorrows-of-owning-amotorcycle {
  margin-bottom: 20px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Nourd-Bold', 'Roboto Condensed';
  font-weight: 700;
  font-size: 26.5px;
  line-height: 1.32;
  color: #18A999;
}
.mac-book-pro-162 .heading-2-why-do-we-maintain-adepreciating-asset {
  margin-right: 140.8px;
  overflow-wrap: break-word;
  font-family: 'Nourd-Regular', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  line-height: 1;
  color: #484349;
}
.mac-book-pro-162 .background {
  background: rgba(138, 243, 255, 0.5);
  margin-left: 456px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 176px 0 173px 0;
  width: 696px;
  box-sizing: border-box;
}
.mac-book-pro-162 .link-read-more {
  margin-right: 10px;
  width: 1068.3px;
  overflow-wrap: break-word;
  font-family: 'Sora';
  font-weight: 800;
  font-size: 20px;
  line-height: 1;
  color: #F7F0F0;
}
.mac-book-pro-162 .vector {
  width: 17.4px;
  height: 9.9px;
}
.mac-book-pro-162 .svg {
  margin: 2.8px 0 7.4px 0;
  display: flex;
  width: 17.4px;
  height: 9.9px;
  box-sizing: border-box;
}
.mac-book-pro-162 .button {
  background: #18A999;
  margin-bottom: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 33.5px 31.3px 26.5px 25px;
  width: 1152px;
  box-sizing: border-box;
}
.mac-book-pro-162 .are-millennials-killing-motorcycles {
  margin: 0 51.2px 20px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Nourd-Bold', 'Roboto Condensed';
  font-weight: 700;
  font-size: 27.2px;
  line-height: 1.286;
  color: #F7F0F0;
}
.mac-book-pro-162 .millennials-get-blamed-for-the-death-of-many-iconic-products-and-brand-ismotorcycles-part-of-the-list {
  overflow-wrap: break-word;
  font-family: 'Nourd-Regular', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  line-height: 1;
  color: #F7F0F0;
}
.mac-book-pro-162 .background-1 {
  background: #2DB563;
  margin-left: 456px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 168px 0 166px 0;
  width: 696px;
  box-sizing: border-box;
}
.mac-book-pro-162 .link-read-more-1 {
  margin-right: 10px;
  width: 1068.3px;
  overflow-wrap: break-word;
  font-family: 'Sora';
  font-weight: 800;
  font-size: 20px;
  line-height: 1;
  color: #F7F0F0;
}
.mac-book-pro-162 .vector-1 {
  width: 17.4px;
  height: 9.9px;
}
.mac-book-pro-162 .svg-1 {
  margin: 2.8px 0 7.4px 0;
  display: flex;
  width: 17.4px;
  height: 9.9px;
  box-sizing: border-box;
}
.mac-book-pro-162 .button-1 {
  background: #18A999;
  margin-bottom: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 33.5px 31.3px 26.5px 25px;
  width: 1152px;
  box-sizing: border-box;
}
.mac-book-pro-162 .is-cheap-motorcycle-rental-amyth {
  margin-bottom: 19.5px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Nourd-Bold', 'Roboto Condensed';
  font-weight: 700;
  font-size: 26.4px;
  line-height: 1.326;
  color: #18A999;
}
.mac-book-pro-162 .heading-2-why-does-it-cost-so-much-to-rent-amotorcycle {
  margin-right: 111.8px;
  overflow-wrap: break-word;
  font-family: 'Nourd-Regular', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  line-height: 1;
  color: #484349;
}
.mac-book-pro-162 .background-2 {
  background: rgba(138, 243, 255, 0.5);
  margin-left: 456px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 176px 0 173.5px 0;
  width: 696px;
  box-sizing: border-box;
}
.mac-book-pro-162 .link-read-more-2 {
  margin-right: 10px;
  width: 1068.3px;
  overflow-wrap: break-word;
  font-family: 'Sora';
  font-weight: 800;
  font-size: 20px;
  line-height: 1;
  color: #F7F0F0;
}
.mac-book-pro-162 .vector-2 {
  width: 17.4px;
  height: 9.9px;
}
.mac-book-pro-162 .svg-2 {
  margin: 2.8px 0 7.4px 0;
  display: flex;
  width: 17.4px;
  height: 9.9px;
  box-sizing: border-box;
}
.mac-book-pro-162 .button-2 {
  background: #18A999;
  margin-bottom: 115px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 33.5px 31.3px 26.5px 25px;
  width: 1152px;
  box-sizing: border-box;
}
.mac-book-pro-162 .ridekid-logo-white-011 {
  background: url('../assets/images/ridekid_logo_white_011.png') 50% / cover no-repeat;
  width: 192px;
  height: 85px;
}
.mac-book-pro-162 .heading-2-contact-us {
  margin: 58px 0 7px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Nourd-Bold', 'Roboto Condensed';
  font-weight: 700;
  font-size: 15px;
  line-height: 1.333;
  color: #FFFFFF;
}
.mac-book-pro-162 .container-2 {
  margin-bottom: 62px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1152.4px;
  box-sizing: border-box;
}
.mac-book-pro-162 .is-aregistered-bangladeshi-company-ridekid-was-incorporated-at-dhaka-bangladesh-to-make-motorcycle-riding-affordable-and-hassle-free {
  overflow-wrap: break-word;
  font-family: 'Nourd-Regular', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  line-height: 1.333;
  color: #FFFFFF;
}
.mac-book-pro-162 .heading-3 {
  margin-top: 1px;
  display: flex;
  box-sizing: border-box;
}
.phone-01677777777-service-hours-monday-to-saturday-from-9-am-to-7-pm-sub34 {
  font-family: 'Nourd-Regular', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  line-height: 1.333;
}
.phone-01677777777-service-hours-monday-to-saturday-from-9-am-to-7-pm {
  font-family: 'Nourd-Regular', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  line-height: 1.333;
}
.mac-book-pro-162 .phone-01677777777-service-hours-monday-to-saturday-from-9-am-to-7-pm {
  text-align: right;
  overflow-wrap: break-word;
  font-family: 'Sora';
  font-weight: 400;
  font-size: 15px;
  line-height: 1.333;
  color: #FFFFFF;
}
.phone-01677777777-service-hours-monday-to-saturday-from-9-am-to-7-pm-sub35 {
  font-family: 'Nourd-Regular', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  line-height: 1.333;
}
.mac-book-pro-162 .heading-2 {
  margin-bottom: 21px;
  display: flex;
  box-sizing: border-box;
}
.mac-book-pro-162 .container-9 {
  margin: 0 0.4px 77px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1152px;
  box-sizing: border-box;
}
.mac-book-pro-162 .heading-220192022-all-rights-reserved-turning-radius-abn-40633007655 {
  margin: 1px 10px 0 0;
  display: inline-block;
  width: 1020px;
  overflow-wrap: break-word;
  font-family: 'Nourd-Regular', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  line-height: 1.333;
  color: #FFFFFF;
}
.mac-book-pro-162 .heading-2-email-helloturningradius-com-au {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Nourd-SemiBold', 'Roboto Condensed';
  font-weight: 600;
  font-size: 12px;
  line-height: 1.667;
  color: #FFFFFF;
}
.mac-book-pro-162 .container-4 {
  margin: 0 0.4px 75px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1152px;
  box-sizing: border-box;
}
.mac-book-pro-162 .vector-3 {
  width: 20.1px;
  height: 20.1px;
}
.mac-book-pro-162 .link-1 {
  border-radius: 11.5px;
  background: #18A999;
  display: flex;
  padding: 1.4px;
  width: 23px;
  height: 23px;
  box-sizing: border-box;
}
.mac-book-pro-162 .vector-4 {
  width: 23px;
  height: 17.3px;
}
.mac-book-pro-162 .link-2 {
  border-radius: 11.5px;
  background: #18A999;
  display: flex;
  padding: 2.9px 0;
  width: 23px;
  height: 23px;
  box-sizing: border-box;
}
.mac-book-pro-162 .vector-5 {
  width: 20.1px;
  height: 20.1px;
}
.mac-book-pro-162 .link-3 {
  border-radius: 11.5px;
  background: #18A999;
  display: flex;
  padding: 1.4px;
  width: 23px;
  height: 23px;
  box-sizing: border-box;
}
.mac-book-pro-162 .vector-6 {
  width: 22.3px;
  height: 22.1px;
}
.mac-book-pro-162 .link-4 {
  border-radius: 11.5px;
  background: #18A999;
  display: flex;
  padding: 0.4px 0.4px 0.5px 0.4px;
  width: 23px;
  height: 23px;
  box-sizing: border-box;
}
.mac-book-pro-162 .vector-7 {
  width: 20.1px;
  height: 20.1px;
}
.mac-book-pro-162 .link-5 {
  border-radius: 11.5px;
  background: #18A999;
  display: flex;
  padding: 0px 1.4px 2.9px 1.4px;
  width: 23px;
  height: 23px;
  box-sizing: border-box;
}
.mac-book-pro-162 .container-10 {
  margin-top: 9px;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  width: 195px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-pro-162 .vector-8 {
  width: 12.8px;
  height: 7.8px;
}
.mac-book-pro-162 .link-6 {
  border-radius: 50px;
  background: #F7F0F0;
  margin-bottom: 1px;
  display: flex;
  padding: 11.6px 9.1px;
  width: 31px;
  height: 31px;
  box-sizing: border-box;
}
.mac-book-pro-162 .container-6 {
  margin-right: 1.4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1151px;
  box-sizing: border-box;
}
.mac-book-pro-162 .container {
  background: #18A999;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 111px 0;
  width: 1728px;
  box-sizing: border-box;
}
.mac-book-pro-162 .container-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1728px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-pro-162 .image-1768-x-768-jpg {
  background: url('../assets/images/image_1768_x_768_jpg.jpeg');
  position: absolute;
  left: 288px;
  top: 495px;
  width: 456px;
  height: 456px;
}
.mac-book-pro-162 .image-2768-x-768-jpg {
  background: url('../assets/images/image_2768_x_768_jpg.jpeg');
  position: absolute;
  left: 288px;
  top: 1099px;
  width: 456px;
  height: 456px;
}
.mac-book-pro-162 .image-3768-x-768-jpg {
  background: url('../assets/images/image_3768_x_768_jpg.jpeg');
  position: absolute;
  left: 288px;
  bottom: 766.5px;
  width: 456px;
  height: 456px;
}
.mac-book-pro-162 {
  background: #FFFFFF;
  display: flex;
  width: 1728px;
  box-sizing: border-box;
}
