.property-1-default-3 .link-is-there-alock-in-contract {
  margin-right: 7.5px;
  width: 1129.5px;
  overflow-wrap: break-word;
  font-family: 'Nourd-SemiBold', 'Roboto Condensed';
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.8px;
  line-height: 1;
  color: #484349;
}
.property-1-default-3 .vector {
  width: 14px;
  height: 14px;
}
.property-1-default-3 .svg {
  margin-bottom: 1px;
  display: flex;
  width: 14px;
  height: 14px;
  box-sizing: border-box;
}
.property-1-default-3 .frame-16 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1151px;
  box-sizing: border-box;
}
.property-1-default-3 .link-how-does-insurance-work {
  margin-right: 7.5px;
  width: 1129.5px;
  overflow-wrap: break-word;
  font-family: 'Nourd-SemiBold', 'Roboto Condensed';
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.8px;
  line-height: 1;
  color: #484349;
}
.property-1-default-3 .vector-1 {
  width: 14px;
  height: 14px;
}
.property-1-default-3 .svg-1 {
  margin-bottom: 1px;
  display: flex;
  width: 14px;
  height: 14px;
  box-sizing: border-box;
}
.property-1-default-3 .group-11 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1151px;
  box-sizing: border-box;
}
.property-1-default {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 3207.8px;
  box-sizing: border-box;
}
