.property-1-default-4 .link-is-there-alock-in-contract {
  margin-right: 7.5px;
  width: 1129.3px;
  overflow-wrap: break-word;
  font-family: 'Nourd-SemiBold', 'Roboto Condensed';
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.8px;
  line-height: 1;
  color: #484349;
}
.property-1-default-4 .vector {
  width: 14px;
  height: 14px;
}
.property-1-default-4 .svg {
  margin-bottom: 1px;
  display: flex;
  width: 14px;
  height: 14px;
  box-sizing: border-box;
}
.property-1-default {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1150.8px;
  box-sizing: border-box;
}
